services:
  postgres:
    image: postgres:15
    container_name: yess-postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: yess_user
      POSTGRES_PASSWORD: secure_password
      POSTGRES_DB: yess_db
    ports:
      - "5432:5432"
    volumes:
      - yess_pg_data:/var/lib/postgresql/data
    networks:
      - yess-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U yess_user -d yess_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: yess-redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    networks:
      - yess-network

  payment-service:
    build:
      context: ./MSFinik
      dockerfile: Dockerfile
    container_name: yess-payment-django
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      - DATABASE_URL=postgres://yess_user:secure_password@postgres:5432/yess_db
      - REDIS_URL=redis://redis:6379/0
      - PYTHONUNBUFFERED=1
      # Настройки Finik из документации
      - FINIK_HOST=api.acquiring.averspay.kg
      - FINIK_API_KEY=1BGB5CgJI51irrPUkL9189iY7Yk6zqjJ9n1pj6Ft
      - FINIK_ACCOUNT_ID=cc5a3231-2eec-4db2-9170-8b0cc3abeed3
      - FINIK_MCC=0742
      - FINIK_PRIVATE_PEM=-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCx2YOhtQ6kcaQc\n86zeZ7SkUE0hSYeCiOk1oEmhOZ2GGYpaH/KczD9H8Vd0BUVsMwh87G9fNNtiowNj\nxl+QNkj4OICstdwu1CTM9CM6j7RvRZIX8wMkx/y8vfOFIdRekLca8Kx7qfvJf3Z2\nXQH43Oa7nlFW/5vCIoHWrvj9yByWRhRT93F8ChvsB2eIH/d/RqJBxc+/u9MDCaFM\nJScybpFABnWx2qv/L5Ky88ytqKQEcNcVvRN2gFe6fZlyIV48QnVMCtUsJGOvdBAx\nwTqzSMqmoemxDSuv/IFzdyGIFyfTC1wUgpxKagwS4+9jIE1CGQoX7hF0Ngp/tCgt\nVf48dyK5AgMBAAECggEAQbH/6i1X5c2mmh0254a2VxXkj9255TGOt8ToPdprAjyP\n+x+e/mWCIKCZNd22mbO2OHMb5ra/LU3a9DG0XjB3Pt2cRm/9D/1ERMMP+lNYCtxP\njXIyYJVRGiUufaiT6oSZZqWtiRauz+06BJnxnwx2XKqsEC9mSU122acTiacwTB+k\nPzM5sf13mEZds2YT5dzH8a3VEfywBvfvHfsFpqsNYE6AJOOi9rQWNujOt659cKA9\nV2NgCcKzDasrwEzYjFkwOt6+sXVSOQ3tCxYU9AS2ACv/Ga4AZ0Y/OeGnplAsuBLf\nmGSK9O0fRmkgMJO3ImRlyMzkHvBt2y+khEqMHQ4oMwKBgQDX6H1JTdCX2eqULDs+\nbENTqEeT+PrWwnl65UepwTTDGjcjQ9KNiyM8+VhuptAKIplnYt/Jr8C5RXCHCJsi\nOMZJ0krnqSx1c646IFTvrzZEzE/wiblY9xIWWN9tQIcmXmxm9oORdbwXFV+Enlsd\nBr8t7nto/OPwnCj76IDc9x5Y6wKBgQDS39vAvFEHL2Or9wyaR/WDpgK/uwoe2e4G\n4RZVXJ5gXJP6C/wIlL6zavOJ4sX02cVlZGcD4CF8Q9gahfxC6AUQpujfaySvv5H5\n8r6EV0CB1evOqCzLxDfz6fnpe0/pV6Z5cS0Y3oCvJLa7G8fckXS6jD23V2Jgvnqf\nCFa27KHJ6wKBgEvpH/Of+lEJeyJxkrrV0a4eIlxyU68iXRfKeTHEDkrycqRheivt\n2Yvcly0AVXDazVi+OLRuqLH7Kh8v9WtIzt6xo0hkAI+jBoTFTVegINJ7izelFJek\n9qUIxjVhVKM226Iv1f5UiLcM+rJkAuDnuFvr11QIZhP4s6guDPCjqfXVAoGAErUV\nU7XhIlgL6ZeTIKS9nR4/JC89qJsAyM9zIcODsVzFK+ugQkqf2F7mmBbsJNqk7mfH\n08owbku+givcwzq+KEoGYruol4bRNnFYgXkUGfCWaND2mGUh6ZuaNiJgZn0GIcPu\nkkQ6+k6xf0vpoSGuT1Zdq0QvUBHV4wHkX3oCqF0CgYEAvJ/L6YLVLDJhg/Awksrs\nxNej1B5LNJthSqGzhnBjNGle65IWF+5E66Isl5reT7LBBbe+Hp7k7mActw1woZDI\nkqj0XrPEZDSm1xvp5hkOiobU/B1u6QSmj0ewnu6CxTOYib/mMYRQIoZ1fE3k8tD3\n05IaB60C6vZRLu+n9ylmXMw=\n-----END PRIVATE KEY-----
    networks:
      - yess-network


  csharp-backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: csharp-backend
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_started
    ports:
      - "8000:5000"
    environment:
      - ASPNETCORE_URLS=http://0.0.0.0:5000
      - ASPNETCORE_ENVIRONMENT=Production
      - EnableSwagger=true
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=yess_db;Username=yess_user;Password=secure_password
      - Redis__ConnectionString=redis:6379
      - Jwt__SecretKey=YessLoyalty_Super_Secure_Secret_Key_2025_LongEnough
      - Jwt__Issuer=YessBackend
      - Jwt__Audience=YessUsers
      - FINIK_ACCOUNT_ID=cc5a3231-2eec-4db2-9170-8b0cc3abeed3
      - FINIK_API_KEY=fNijGemPQLGMP7QyPfvI2dtoDCUYIzJ4s59hS9wa
    networks:
      - yess-network

  nginx:
    image: nginx:latest
    container_name: yess-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./default.conf:/etc/nginx/conf.d/default.conf
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - /var/www/PANEL-s_YESS-Go:/var/www/PANEL-s_YESS-Go:ro
      - /var/www/landing:/var/www/landing:ro
      - /var/www/web-version-YES-GO:/var/www/web-version-YES-GO:ro
    depends_on:
      - csharp-backend
      - payment-service
    networks:
      - yess-network

volumes:
  yess_pg_data:

networks:
  yess-network:
    driver: bridge
